In [1]:
l = [1,2,3,"deep"]
l

[1, 2, 3, 'deep']

In [13]:
t =(1,2,3,4,"Deep")
t

(1, 2, 3, 4, 'Deep')

In [8]:
#tuple Reverse
t[::-1]

('Deep', 4, 3, 2, 1)

In [9]:
#list is mutable
l[0] = "Ratna"
l

['Ratna', 2, 3, 'deep']

In [10]:
#list is imutable
t[0] = "Ratna"
t

TypeError: 'tuple' object does not support item assignment

In [22]:
l2 = []
for i in l:
    print(l)

['Ratna', 2, 3, 'deep']
['Ratna', 2, 3, 'deep']
['Ratna', 2, 3, 'deep']
['Ratna', 2, 3, 'deep']

In [19]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
Deep

In [1]:
t1 = (1,2,3,4)
for i in t1:
    print(t1)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [26]:
#in tuple only 4 functions available
t1.countcount(3)

1

In [24]:
t1.index(1)

0

In [25]:
t1.index(4)

3

In [28]:
#concat done in Tuple
t+t1

(1, 2, 3, 4, 'Deep', 1, 2, 3, 4)

In [30]:
#insert data or append we have type cast tuple in list
l2 = list(t)
l2

[1, 2, 3, 4, 'Deep']

In [32]:
l2.append("halder")
l2

[1, 2, 3, 4, 'Deep', 'halder', 'halder']

In [33]:
t2 = tuple(l2)
t2

(1, 2, 3, 4, 'Deep', 'halder', 'halder')

In [17]:
#set
#output unique value
s = set([1,1,3,3,3,9,9,9,5,5,5,4,4,"deep"])
s

{1, 3, 4, 5, 9, 'deep'}

In [2]:
s[0]

TypeError: 'set' object is not subscriptable

In [3]:
for i in s:
    print(i)

1
3
4
5
9

In [4]:
for i in s:
    print(s)

{1, 3, 4, 5, 9}
{1, 3, 4, 5, 9}
{1, 3, 4, 5, 9}
{1, 3, 4, 5, 9}
{1, 3, 4, 5, 9}

In [6]:
#slicing we cant do in set
s[::-1]

TypeError: 'set' object is not subscriptable

In [5]:
#using tuple
s1 = set((5,5,5,8,8,3))
s1

{3, 5, 8}

In [6]:
s2 = list(s1)
s2

[8, 3, 5]

In [7]:
s2[::-1]

[5, 3, 8]

In [26]:
s3 = {1,2,'deep',(1,2)}
s3

{(1, 2), 1, 2, 'deep'}

In [20]:
type(s3)

set

In [9]:
s2.pop()

5

In [10]:
s2

[8, 3]

In [11]:
s1

{3, 5, 8}

In [12]:
s1.pop()

8

In [13]:
s1

{3, 5}

In [23]:
s4 = {1,9,6,4,3,5,2,2,7,7,5,9,"deep","ratna"}
s4

{1, 2, 3, 4, 5, 6, 7, 9, 'deep', 'ratna'}

In [26]:
s5 = {2,3,358,5,6,658,8,7,77,'deep'}
s5

{2, 3, 358, 5, 6, 658, 7, 77, 8, 'deep'}

In [2]:
#dictionary
d = {}
type(d)

dict

In [3]:
#dictionary key and value pair
d ={"name":"deep"}
d

{'name': 'deep'}

In [4]:
d1 = {"name":"deep","surname":"halder"}
d1

{'name': 'deep', 'surname': 'halder'}

In [15]:
#duplicate key is not allowed then it will override
#special case carrecter also not be the part of key
#list cant be a key
#set tuple list dictionary all are allowed as a value in dictionary
d2 = {"name":"deep","surname":"halder","name":"Ratna"}
d2

{'name': 'Ratna', 'surname': 'halder'}

In [12]:
d3 = {1:"deep","surname":"halder","name":"Ratna"}
d3

{1: 'deep', 'surname': 'halder', 'name': 'Ratna'}

In [11]:
d4 = {1:"deep","surname":"halder",[1,2]:"Ratna"}
d4

TypeError: unhashable type: 'list'

In [13]:
d5 = {1:[1,2,3,4,["deep","ratna"]],2:(1,3,5)}
d5

{1: [1, 2, 3, 4, ['deep', 'ratna']], 2: (1, 3, 5)}

In [14]:
d6 = {1:[1,2,3,4,["deep","ratna"]],2:(1,3,5),3:{"dasdasd",'adasd',6}}
d6

{1: [1, 2, 3, 4, ['deep', 'ratna']], 2: (1, 3, 5), 3: {6, 'adasd', 'dasdasd'}}

In [27]:
d7 = {1:[1,2,3,4,["deep","ratna"]],2:(1,3,5),3:{"dasdasd",'adasd',6},4:{'ke1':(1.2),'key2':[8,9]}}
d7

{1: [1, 2, 3, 4, ['deep', 'ratna']],
 2: (1, 3, 5),
 3: {6, 'adasd', 'dasdasd'},
 4: {'ke1': 1.2, 'key2': [8, 9]}}

In [17]:
#cant accces through indexes
d7[0]

KeyError: 0

In [18]:
d7[1]

[1, 2, 3, 4, ['deep', 'ratna']]

In [32]:
d7[1][4][0]

'deep'

In [24]:
d7[4]['key2'][1]

9

In [26]:
for i in d7:
    print(i)

1
2
3
4

In [28]:
for i in d7:
    print(d7[i])

[1, 2, 3, 4, ['deep', 'ratna']]
(1, 3, 5)
{'adasd', 'dasdasd', 6}
{'ke1': 1.2, 'key2': [8, 9]}

In [30]:
d7.keys()

dict_keys([1, 2, 3, 4])

In [33]:
for i in d7.keys():
    print(d7[i])

[1, 2, 3, 4, ['deep', 'ratna']]
(1, 3, 5)
{'adasd', 'dasdasd', 6}
{'ke1': 1.2, 'key2': [8, 9]}

In [34]:
d7.values()

dict_values([[1, 2, 3, 4, ['deep', 'ratna']], (1, 3, 5), {'adasd', 'dasdasd', 6}, {'ke1': 1.2, 'key2': [8, 9]}])

In [44]:
t7 = []
for i in d7.values():
    if type(i)==tuple:
        for j in i:
            t7.append(j)

In [45]:
t7

[1, 3, 5]

In [33]:
t8 = []
for i in d7.values():
    for j in i:
        t8.append(j)

In [34]:
t8

[1, 2, 3, 4, ['deep', 'ratna'], 1, 3, 5, 'adasd', 'dasdasd', 6, 'ke1', 'key2']

In [48]:
#add net data to dic
d7[5] = [3,6,9]

In [49]:
d7

{1: [1, 2, 3, 4, ['deep', 'ratna']],
 2: (1, 3, 5),
 3: {6, 'adasd', 'dasdasd'},
 4: {'ke1': 1.2, 'key2': [8, 9]},
 5: [3, 6, 9]}

In [50]:
#mutuable
d7[5] = "hdfjdshfjksdj"

In [51]:
d7

{1: [1, 2, 3, 4, ['deep', 'ratna']],
 2: (1, 3, 5),
 3: {6, 'adasd', 'dasdasd'},
 4: {'ke1': 1.2, 'key2': [8, 9]},
 5: 'hdfjdshfjksdj'}

In [52]:
d8 = {}
for i in range(10):
    d8[i] = i**2
d8

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [53]:
l = ["deep","ratna","xyz"]
d9 = {}
for i in l:
    d9[i] = i.upper()
d9

{'deep': 'DEEP', 'ratna': 'RATNA', 'xyz': 'XYZ'}

In [54]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [57]:
d9.items()

dict_items([('deep', 'DEEP'), ('ratna', 'RATNA'), ('xyz', 'XYZ')])

In [58]:
#function
def test():

SyntaxError: unexpected EOF while parsing (<ipython-input-58-039b25caf0c8>, line 3)

In [59]:
#function
def test():
    pass

In [60]:
type(test())

NoneType

In [61]:
for i in range(4):
    pass

In [62]:
def test1():
    print("Hi All")

In [63]:
test1()

Hi All

In [67]:
def sum():
    a = 4
    b = 5
    print("Sum is",a+b)

In [68]:
sum()

Sum is 9

In [69]:
type(sum())

Sum is 9

NoneType

In [70]:
def sum1():
    a = 4
    b = 5
    return a+b

In [71]:
sum1()

9

In [73]:
type(sum1())

int

In [74]:
def sum2(a,b):
    return a+b

In [75]:
sum2(4,7)

11

In [76]:
def sum_mul(a,b):
    return a+b,a*b

In [77]:
sum_mul(8,2)

(10, 16)

In [78]:
#assigning the values
y,x = sum_mul(8,2)

In [79]:
y

10

In [80]:
x

16

In [81]:
#multiple variable in one line
a,b,c,d = 5,6,4,7

In [82]:
a

5

In [83]:
b

6

In [84]:
#assigning the values
v,_ = sum_mul(8,2)

In [85]:
v

10

In [87]:
#default value in fn argument 
def deft_val(a,b="deep"):
    return a+b
deft_val("ratna")

'ratnadeep'

In [88]:
#override default value
deft_val("ratna","sdfsdfsdf")

'ratnasdfsdfsdf'