In [3]:
#prime no
def isprime(num1):
    for i in range(2,num1):
        if num1 % i == 0:
            print("Non Prime")
            break
    else:
        print("Prime")

In [4]:
isprime(10)

Non Prime

In [1]:
for i in "deep":
    print(i)

d
e
e
p

In [3]:
'''string is not an iterator but it is a iterable object.
but iterable object can be made iterator,inside for loop
some function written to make iterable object to iterator'''

next("deep")

TypeError: 'str' object is not an iterator

In [5]:
a = iter("deep")
type(a)

str_iterator

In [7]:
next(a)

'e'

In [13]:
#'int' object is not iterable
b = iter(45)

TypeError: 'int' object is not iterable

In [14]:
next(range(10))

TypeError: 'range' object is not an iterator

In [17]:
d =iter(range(10))

In [15]:
for i in d:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
next(d)

2

In [21]:
def gencube(n):
    for i in range(n):
        print(i**3)

In [23]:
gencube(5)

0
1
8
27
64

In [26]:
#for creating genarator object
def gencube(n):
    for i in range(n):
        yield (i**3)

In [27]:
gencube(10)

In [28]:
for i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [45]:
def fibo(n):
    a = 0
    b = 1
    for i in range(n):
        print(a)
        #a,b = b,a+b
        x = a
        a = b
        b = x+b

In [46]:
fibo(10)

0
1
1
2
3
5
8
13
21
34

In [41]:
#using genarator
def fibo(n):
    a = 0
    b = 1
    for i in range(n):
        yield(a)
        a,b = b,a+b

In [42]:
fibo(10)

In [44]:
for i in fibo(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [24]:
def sqr(n):
    return n**2

In [25]:
l1 = [2,8,4,5,6]
l2 = []
for i in l1:
    l2.append(sqr(i))

In [26]:
l2

[4, 64, 16, 25, 36]

In [8]:
#in single line(list comprehention)
[i**2 for i in l1]

[4, 64, 16, 25, 36]

In [10]:
list(map(sqr,l1))

[4, 64, 16, 25, 36]

In [11]:
#generator object using map
for i in (map(sqr,l1)):
    print(i)

4
64
16
25
36

In [12]:
#using lamda function
list(map(lambda x:x**2,l1))

[4, 64, 16, 25, 36]

In [13]:
#lamda function store inside a variable
v1 = lambda x : x**2

In [15]:
#calling the lamda function variable i  map function
list(map(v1,l1))

[4, 64, 16, 25, 36]

In [16]:
a = [1,2,3,4,5]
b = [5,6,7,8,9]
c = [9,9,6,5,2,4,5]

In [17]:
def summing(x,y,z):
    return x+y+z

In [18]:
list(map(summing,a,b,c))

[15, 17, 16, 17, 16]

In [20]:
list(map((lambda x,y,z:x+y+z),a,b,c))

[15, 17, 16, 17, 16]

In [36]:
#reduce function is used for aggregation
from functools import reduce

In [31]:
def sum2(a,b):
    return a+b

In [34]:
l3 = [2,8,6,6]
reduce(sum2,l3)

22

In [38]:
l3 = [2,8,6,6,9,7]
reduce(lambda x,y:x+y,l3)

38

In [39]:
list(filter(lambda x:x%2==0,l3))

[2, 8, 6, 6]

In [40]:
def even_chk(n):
    if n%2 == 0:
        return True

In [41]:
list(filter(even_chk,l3))

[2, 8, 6, 6]

In [42]:
list(filter(lambda x:x%2!=0,l3))

[9, 7]